@model Uretim_Kalite.Models.Entity.EGEM_KALITE_USER
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Login</title>
</head>
<body>

    &nbsp;&nbsp;

    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="card">

                <div class="card-header">
                    <img class="img-circle" style="height:50px;width:50px" src="~/Image/Logo.jpg" />
                    Egemsis Kalite Nok Login
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.AD_SOYAD)*@
                        <label>KALITE USER</label>
                        @Html.TextBoxFor(m => m.AD_SOYAD, "", new { @class = "form-control", @placeholder = "Kullanıcı Adını Giriniz" })

                    </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.SIFRE)
                            @Html.PasswordFor(m => m.SIFRE, new { @class = "form-control", @placeholder = "Şifre Giriniz" })
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-primary" value="Login" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.Raw(@ViewBag.Alert)
            </div>
        </div>
    </div>




</body>
</html>
