@using PagedList.Mvc;
@using PagedList;
@using Uretim_Kalite.Models.Entity;

@model PagedList.IPagedList<EGEM_ESNEK_LAMINASYON_KALITENOKIMAJ>

@{
    ViewBag.Title = "LaminasyonNOK";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

&nbsp;
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Esnek Laminasyon Kalite NOK Liste</strong>
</div>
&nbsp;

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/lib/bootstrap.min.css">
<script src="/lib/jquery-1.12.2.min.js"></script>
<script src="/lib/bootstrap.min.js"></script>
<p></p>
<div class="form-group row">
    &nbsp;&nbsp;
    <div>
        @using (Html.BeginForm("LaminasyonNOK", "EsnekLaminasyon", FormMethod.Get))
        {
            <p>
                Sipariş No: @Html.TextBox("Search_Data", ViewBag.FilterValue as string)
                <input type="submit" value="Bul" />
            </p>
        }
    </div>
    &nbsp;&nbsp;
</div>
<table id="laminasyonnok" class="table table-striped table-bordered table-hover " width="100" cellspacing="0">

    <tr>
        <th>SIPARIS_NO</th>
        <th>BOBIN_NO</th>
        <th>HATA</th>
        <th>IMAJ</th>
        <th>ADRES</th>
    </tr>
    <tbody>
        @foreach (var elaminasyonnok in Model)
        {
            <tr>
                <th>@elaminasyonnok.SIPARISNO</th>
                <td>@elaminasyonnok.BOBINNO</td>
                <td>@elaminasyonnok.HATA</td>
                <td>@elaminasyonnok.IMAJ</td>
                <td>
                    <img src="~/Content/NOK_IMAJ/ESNEKLAMINASYON/@elaminasyonnok.ADRES" width="100" height="100" />
                </td>
            </tr>
        }
    </tbody>

</table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, Page_No =>Url.Action("LaminasyonNOK",
            new { Page_No, Sorting_Order= ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))




